<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TINC</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TINC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body id="root" class="text-3xl flex flex-col justify-center">
    <!-- -->

    <div class="w-full">
        <main role="main" class="pb-3 w-full">
            @RenderBody()
        </main>
    </div>


    <footer class="border-t border-gray-400 pt-10 text-xl text-left">
        <div id="privacyDiv" class="container">
            Copyright © 2023 - Mutual Concepts Carrier Onboarding (MCCO) <br />
            Click to Know More About our <a id="privacyLink" class="text-blue-600" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> Policy
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        // w9Form
        if (document.getElementById("MainContent_txtSocialSecurityNumber") !== null ) {
            document.getElementById("MainContent_txtSocialSecurityNumber").addEventListener("input", function (event) {
                var inputValue = event.target.value;
                var sanitizedValue = inputValue.replace(/[^\d]/g, ''); // Remove non-numeric characters

                event.target.value = sanitizedValue; // Update the input value with sanitized content
            });
        }
        $(document).ready(function () {
            $('.tax-classification-checkbox').on('click', function () {
                // Uncheck all checkboxes except the one that was clicked
                $('.tax-classification-checkbox').not(this).prop('checked', false);
            });
        });
        // Profile
        if (document.getElementById("MainContent_txtNumberofTractors") !== null) {
            document.getElementById("MainContent_txtNumberofTractors").addEventListener("input", function (event) {
                var inputValue = event.target.value;
                var sanitizedValue = inputValue.replace(/[^\d]/g, ''); // Remove non-numeric characters

                event.target.value = sanitizedValue; // Update the input value with sanitized content
            });
        }
        $(document).ready(function () {
            $('.factory-company-checkbox').on('click', function () {
                var inputFields = $('#factoryco input[type="text"], #factoryco input[type="tel"], #factoryco input[type="number"]');
                inputFields.prop('disabled', this.checked);
                if (this.checked) {
                    inputFields.addClass('bg-gray-100');
                    inputFields.removeAttr('required');
                } else {
                    inputFields.removeClass('bg-gray-100');
                    inputFields.attr('required', 'required');
                }
            });
        });
    </script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
