@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SAOUITT-Regular'; /* Name that you will use in your CSS */
    src: url('\fonts\SAOUITT-Regular.ttf') format('truetype'); /* Adjust the path and format */
    /* You can also include other font formats like woff and woff2 */
}

#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    font-family: SAOUITT-Regular;
    line-height: 2;
    letter-spacing: 0.025em;
    font-weight: 400;
    /*color-scheme: light dark;*/
    color-scheme: #f2f0f0;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: white*/
    background-color: #f2f0f0;
}

.hidden {
    display: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 2rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    /*background-color: #fff;*/
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*:root {
    
}*/

